h1{
	
	margin-top:5px;
	margin-left:550px;
	font-size:40px;	

}
p{
	
	margin-top:5px;
	margin-left:550px;
		font-size:25px;
}
ul{
	margin:0px;
	padding:0;
	list-style:none;
	height:36px;
	line-height:36px;
	background-color:white;
	font-family:arial,helvetica,sans-serif;
	font-size:13px;

}

li{
	float:right;
	border-right:1px solid black;
	
	
}
a{
	display:block;
	padding:0  28px;
	color:black;
	text-decoration:none;
	
	
}
a:hover{
	
	background-color:#6480F8  ;
	
	
	
}